{% extends 'basic/common.html' %}

{% block title %} Login || Blog {% endblock %}

{% block css %}{% endblock %} 
{% block body %}


<div class="container">
	<div class="row">
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h1 class="card-title"><i class="fa fa-user-circle" aria-hidden="true"></i> Total No. Of Users</h1>
	        <h2 class="card-text">{{totalUsers}}</h2>
	        <a href="{% url 'admin-users' %}" class="btn btn-primary">View Details</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h1 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Total No. Of Blogs</h1>
	        <h2 class="card-text">{{totalBlogs}}</h2>
	        <a href="{% url 'admin-blogs' %}" class="btn btn-primary">View Details</a>
	      </div>
	    </div>
	  </div>
	</div>
</div>
{% endblock %}
{% block js %} {% endblock %}