{% extends 'partial/basic.html' %} {% block title %} Login || Blog {% endblock %} {% block css %}{% endblock %} {% block body %}
<div class="container mt-4">
    <h1 class="text-center">Welcome {{user}}</h1>


    <!-- <a href="{% url 'add' %}" class="btn btn-primary" role="button" ></a> -->
    <a href="{% url 'add' %}" class="btn btn-primary" ><li class="fa fa-plus"></li> Add Blog</a>
</div>
<div class="container mt-5">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Blog  title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{% url 'edit' %}" class="btn btn-primary" role="button" data-bs-toggle="button"><li class="fa fa-edit"></li> Edit</a>
        <a href="{% url 'delete' %}" class="btn btn-danger"><li class="fa fa-trash-o"></li> Delete</a>
      </div>
    </div>
</div>
{% endblock %} {% block js %} {% endblock %}