{% extends 'partial/basic.html' %} {% block title %} Login || Blog {% endblock %} {% block css %}{% endblock %} {% block body %}
<div class="container mt-4">
    <h1 class="text-center">Welcome {{user_name}}</h1>
        <a href="{% url 'add' %}" class="btn btn-primary" ><li class="fa fa-plus"></li> Add Blog</a>
</div>
<div class="container mt-5">
  
  <div class="row">
    <div class="col-md-4">
      {% for user in users%}
      <div class="card mb-3" style="width: 20rem;">
        <img src='/media/{{user.blog_img}}' height="150" class="card-img-top" alt="{{user.blog_title}}">
        <div class="card-body">
          <h5 class="card-title">{{user.blog_title}}</h5>
          <p class="card-text" id="desc_{{user.id}}">{{user.blog_desc|safe}}....</p>
          <a href="../edit-blog/{{user.id}}" class="btn btn-info btn-sm"><li class="fa fa-edit"></li> Edit</a>
          <a href="../show-blog/{{user.id}}" class="btn btn-success btn-sm"><i class="fa fa-eye" aria-hidden="true"></i> Show</a>
          <!-- <a href="../delete-blog/{{user.id}}" class="btn btn-danger"><li class="fa fa-trash-o"></li> Delete</a> -->

          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete_{{user.id}}">
            <li class="fa fa-trash-o"></li> Delete
          </button>

            {% if user.status %}
          <div class="form-check form-switch">
            {% csrf_token %}
            <input class="form-check-input status" type="checkbox" data-id="{{user.id}}" id="status{{user.id}}" checked>
            <label class="badge bg-warning text-dark" for="status{{user.id}}">Published</label>
          </div>
          {% else %}
            <div class="form-check form-switch">
            {% csrf_token %}
            <input class="form-check-input status" type="checkbox" data-id="{{user.id}}" id="status{{user.id}}" unchecked>
            <label class="badge bg-secondary" for="status{{user.id}}">Not Published</label>
          </div>
          {% endif %}
            
            
          
        </div>
      </div>


      <div class="modal fade" id="delete_{{user.id}}" tabindex="-1" aria-labelledby="delete_blog_{{user.id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 style="color:red">Are You Sure?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><li class="fa fa-close"></li> No</button>
        <a href="../delete-blog/{{user.id}}" class="btn btn-danger"><li class="fa fa-trash-o"></li> Yes</a>
      </div>
    </div>
  </div>
</div>


    </div>
    <div class="col-md-4">
      {% if forloop.counter|divisibleby:3 %}
      <!-- <div class="row">
        <div class="col-md-4"> -->
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %} {% block js %}

  <script type="text/javascript">
    $(document).ready(function () {
       $(".status").on("click", function(){
            var element = $(this);
            var formData = {
              'blog_id': $(this).attr("data-id"),
              'csrfmiddlewaretoken': $('input[name = csrfmiddlewaretoken]').val(),
            }
           $.ajax({
              type: "POST",
              url: "{% url 'home' %}",
              data: formData ,
              dataType: "json",
              encode: true,
          }).done(function (data) {
            console.log(data);
            if(data.checked){
              console.log(data.id)
              $("label[for='status" + data.id + "']").text("Published")
              console.log("true")
            }
            else{
              console.log(data.id)
              $("label[for='status" + data.id + "']").text("Not Published")
              console.log("false")
            }

          });
          // event.preventDefault();
      });
    });
  </script>


 {% endblock %}