{% extends 'partial/basic.html' %} {% block title %} Login || Blog {% endblock %} {% block css %}{% endblock %} {% block body %}
<div class="container mt-4">
    <h1 class="text-center">Web Idea Solutions</h1>
    <div class="row text-center mt-5 ">
        <div class="col-sm-6">
            <button type="button" class="btn btn-success btn-lg" onclick="signup()">Signup</button>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-warning btn-lg" onclick="login()">Login</button>
        </div>
    </div>
</div>
{% endblock %} {% block js %}
<script>
    function signup() {
        window.location = "signup/"
    }

    function login() {
        window.location = "login/"
    }
</script>
{% endblock %}