{% extends 'partial/basic.html' %} {% block title %} Login || Blog {% endblock %} {% block css %}{% endblock %} {% block body %}
<div class="container mt-4">
    <h1 class="text-center">login</h1>
    <div class='row d-flex justify-content-center'>
        <div class="col-md-6 ">
            <form method="POST">
                {% csrf_token %}
                {{request.session.user_id}}
                <div class="mb-3">
                    <label for="user_email" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="user_mail" id="user_email" required>
                </div>
                <div class="mb-3">
                    <label for="user_password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="user_password" name="user_password" required>
                </div>
                <button type="submit" class="btn btn-success">Login</button>
                <button type="reset" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>
</div>
{% endblock %} {% block js %} {% endblock %}